@import "tailwindcss";
@plugin "daisyui";
@import "@heroui/styles"; 

.custom-pagination .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.4);
  width: 10px;
  height: 10px;
  opacity: 1;
  transition: all 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: #fff !important;
  width: 30px;
  border-radius: 999px;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}